// 1
// .my-font-block { ...setting }
// .block .my-font-block { ...setting }
@mixin twoColorBlock($property, $color1, $color2) {
  width: 10px;
  height: 10px;
  #{$property} : $color1;

  div[class="block"] & {
    #{$property} : $color2;
  }
}

@mixin replace-text($image, $x: 50%, $y: 50%) {
  width: 50px;
  height: 50px;

  background: {
    image: $image;
    repeat: no-repeat;
    position: $x $y;
  }
}

@mixin square($size, $radius: 0) {
  background-color: beige;
  width: $size;
  height: $size;

  @if $radius != 0 {
    border-radius: $radius;
  }
}

@mixin fontStyle($size, $selectors...) {
  @for $i from 0 to length($selectors) {
    #{nth($selectors, $i + 1)} {
      font-size: $size;
      padding-bottom: $i * $size;
    }
  }
}
