//1. 數值處理
@function pow($base, $exponent) {
  $result: 1;
  @for $_ from 1 through $exponent {
    $result: $result * $base; // 1*4=4 --> 4*4=16 --> 16*4=64 --> *1px=64px
  }
  @return $result;
}

.sidebar {
  float: left;
  margin-left: pow(4, 3) * 1px;
}

//2.顏色處理
@function invert($color, $amount: 100%) {
  $inverse: change-color($color, $hue: hue($color) + 180);
  @return mix($inverse, $color, $amount);
}

$primary-color: #036;
.my-color {
  width: 10px;
  height: 10px;
  background-color: invert($primary-color, 80%);
}

//3.數值相加
@function sum($numbers...) {
  $sum: 0;
  @each $number in $numbers {
    $sum: $sum + $number;
  }
  @return $sum;
}

.micro {
  width: sum(50px, 30px, 100px);
}

$widths: 50px, 30px, 100px;
.microMin {
  //width: min($widths...);
}


// Error
// 打印錯誤訊息
@mixin reflexive-position($property, $value) {
  //判斷條件錯誤及報錯
  @if $property != left and $property != right {
    @error "打印錯誤訊息-Property #{$property} must be either left or right.";
  }

  $left-value: if($property == right, initial, $value);
  $right-value: if($property == right, $value, initial);

  left: $left-value;
  right: $right-value;
  [dir=rtl] & {
    left: $right-value;
    right: $left-value;
  }
}
.tryError {
  @include reflexive-position(top, 12px);
}

// Warn
$known-prefixes: webkit, moz, ms, o;
@mixin prefix($property, $value, $prefixes) {
  @each $prefix in $prefixes {
    @if not index($known-prefixes, $prefix) {
      @warn "打印警告訊息Unknown prefix #{$prefix}.";
    }

    -#{$prefix}-#{$property}: $value;
  }
  #{$property}: $value;
}
.tilt {
  // Oops, we typo'd "webkit" as "wekbit"!
  @include prefix(transform, rotate(15deg), wekbit ms);
}